<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <display-name>Class-D Keijiban</display-name>

  <servlet>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>servlet.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewThreadServlet</servlet-name>
    <servlet-class>servlet.NewThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewThreadServlet</servlet-name>
    <url-pattern>/new-thread</url-pattern>
  </servlet-mapping>

  <!-- ✅ FIXED REPLY SERVLET -->
  <servlet>
    <servlet-name>ReplyAddServlet</servlet-name>
    <servlet-class>servlet.ReplyAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyAddServlet</servlet-name>
    <url-pattern>/reply-add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewPostServlet</servlet-name>
    <servlet-class>servlet.ViewPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostServlet</servlet-name>
    <url-pattern>/thread</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteThreadServlet</servlet-name>
    <servlet-class>servlet.DeleteThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteThreadServlet</servlet-name>
    <url-pattern>/deleteThread</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>servlet.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/register</url-pattern>
</servlet-mapping>

</web-app>